.jumbotron{

  background-color: $bg_jumbotron;
  padding : $padding_jumbotron;
  display: $display_jumbotron;
  color: $color_jumbotron;
  text-align: $text_align_jumbotron;

   h1{
    font-size: $size_h1_jumbotron;
  }
   p{
    font-size: $size_p_jumbotron;
  }

}

header {
  display: flex;
  justify-content: center;
  color:black;
  background-color: blue;
  padding: 2em;
  font-size: 25px;
}

.navbar {
  background-color: $bg_nav_def;
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    &.left{
      float:left;
    }

    &.right{
      float: right;
    }
  }

  li {
    float: left;
  }

  li a {
    display: block;
    color: $nav_color;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  a:hover:not(.active) {
    background-color: $bg_nav_hover;
  }

  .active {
    background-color: $bg_nav_hover;
    color:$nav_color_hover;
  }
}
